*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  /* min-width: 481px; */
}

header {
  background-color: #0A2C1D;
  color: white;
  padding: 1em;
  text-align: center;
  text-shadow: 1px -1px 10px #E1A500;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 1em;
}

section {
  flex: 1;
}

search {
  padding: 0 1em;
}

img {
  -webkit-user-drag: none;
  user-drag: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* #family-form, */
#filters {
  margin-bottom: 1em;
}

/* 
#family-management {
  list-style: none;
  padding: 0;
} */

#output {
  /* border: solid; */
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 0 1em;
  justify-content: space-between;
}

.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.card {
  border: 1px solid #000;
  min-height: 300px;
  width: 100%;
  cursor: pointer;
}

@media only screen and (min-width: 641px) {

  search,
  #output {
    padding: 0 1.5em;
  }

  .card {
    width: 45%;
  }
}

@media only screen and (min-width:961px) {

  search,
  #output {
    padding: 0 2em;
  }

  .card {
    width: 30%;
  }
}

@media only screen and (min-width:1440px) {

  search,
  #output {
    padding: 0 3em;
  }
}