@font-face {
  font-family: "Christmas Glitter";
  src: url('christmas_glitter/Christmas Glitter ttf.ttf') format("truetype");
}

@font-face {
  font-family: "Merry Notes";
  src: url('merry-notes/Merry Notes.otf') format("opentype");
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Dosis", sans-serif;
  font-size: calc(1rem + ((2vw - 0.48rem) * 0.6944));
  min-height: 0vw;
  letter-spacing: 1px;
  overflow-x: hidden;
  color: #fff;
  display: flex;
  flex-direction: column;
}

.body-admin {
  min-height: 100vh;
}

.background,
.body-admin {
  position: relative;
  background-image: url('./images/christmas_bg.webp');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: top;
}

.background {
  /* height = 2 screens */
  height: 200vh;
}

.content {
  height: 100vh;
  overflow-y: auto;
}

h1 {
  text-align: center;
  font-size: 2rem;
}

h2,
.body-admin h1 {
  text-shadow: 1px 0px 2px #fff694;
  color: #C01328;
  margin: 20px 20px 40px;
  text-align: center;
  font-size: calc(2rem + ((2vw - 0.48rem) * 0.6944));
}

h2 {
  -webkit-text-stroke: 1px #c50018;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 1rem 1rem;
}

footer {
  background-color: #0A2C1D;
  color: white;
  text-align: center;
  padding: 1rem 0;
}

section {
  flex: 1;
}

img {
  -webkit-user-drag: none;
  user-drag: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

ul {
  list-style: none;
}

.hidden {
  display: none;
}

/* --------------------------- Form: Default Layout -------------------------- */
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  max-width: 400px;
  margin: 30px auto;
  padding: 20px;
  background-color: rgba(0, 128, 0, 0.2);
  border-radius: 8px;
}

label {
  position: relative;
  cursor: pointer;
  font-size: 1.2rem;
  align-self: flex-start;
}

input:not([type="checkbox"]),
textarea {
  width: 100%;
}

select,
input,
textarea {
  padding: 10px;
  border: none;
  border-radius: 4px;
  color: #333;
}

select {
  padding: 6px;
}

input[type="checkbox"] {
  cursor: pointer;
  margin-right: 10px;
  position: relative;
  border: none;
}

input[type="checkbox"]::before {
  content: '';
  -webkit-appearance: none;
  background-color: #f4f3f3;
  border: 2px solid #10551a;
  padding: 8px;
  display: inline-block;
  vertical-align: bottom;
  cursor: pointer;
}

input[type="checkbox"]:disabled::before {
  background-color: #929292;
  border-color: #b3b3b3;
  cursor: not-allowed;
}

input:checked::after {
  content: '';
  display: block;
  position: absolute;
  top: -5px;
  left: 8px;
  width: 8px;
  height: 22px;
  border: solid #C01328;
  border-width: 0 4px 5px 0;
  transform: rotate(45deg);
}

button {
  display: block;
  padding: 10px 20px;
  margin: 20px auto;
  font-size: 18px;
  color: #fff;
  background-color: #C01328;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #f44336;
}

/* ------------------------------ Focus Effect */
select:focus,
input:not([type="checkbox"]):focus,
textarea:focus {
  outline: 2px solid #10551a;
  background-color: #f9e5e6;
}


/* --------------------------------- Header --------------------------------- */
.header-index {
  height: 100vh;

  > p {
    width: 80%;
    font-size: 1.25rem;
    text-align: center;
  }
}

.header-admin {
  height: 30vh;
}

/* --------------------------------- Navbar */
.navbar {
  height: 50px;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #0A2C1D;
  z-index: 1000;
  padding: 10px 0;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
}

.navbar ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar ul li {
  margin: 0 15px;
}

.navbar ul li a {
  font-family: "Merry Notes", sans-serif;
  color: #f9eb4c;
  text-decoration: none;
  padding: 10px;
}

.navbar ul li a:hover {
  background-color: #575757;
}

/* ------------------------------ Introduction ------------------------------ */
#introduction {
  background-image: url('./images/header.png');
  background-size: contain;
  background-position: top;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 20%;

  h1 {
    font-family: "Christmas Glitter", sans-serif;
    font-size: calc(3rem + ((1vw - 0.48rem) * 0.6944));
    min-height: 0vw;
    background-image: linear-gradient(45deg, #c01328, #c50018, #006400, #FFD700, #FFFFFF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
    padding: 0 15px;
  }
}

/* --------------------------------- Filters -------------------------------- */
#filters {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: rgba(0, 128, 0, 0.2);
  border: 2px solid #f20b0b;
  border-radius: 10px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  padding: 40px 20px 20px;
  margin: 0 20px 20px;
  overflow-y: auto;
  max-height: 100vh;
}

#filters p {
  color: #f9eb4c;

  > span {
    text-decoration: underline;
  }
}


#filters input[type="text"] {
  margin-top: 20px;
}

/* ---------------------------- Families Section ---------------------------- */
#family-section {
  padding: 2.5rem 1.25rem;
}

#output {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(275px, 300px));
  gap: 20px;
  justify-content: center;

  > p {
    margin: 0 auto;
  }
}

.family-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  border: 2px solid #f20b0b;
  border-radius: 10px;
  padding: 15px;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.family-card img {
  width: 100%;
  max-height: 250px;
  object-fit: cover;
  object-position: top;
  border-radius: 10px;
}

.family-card h3 {
  font-size: 18px;
  color: #333;
  margin: 10px 0;
}

.family-card p {
  font-size: 16px;
  color: #555;
}

/* -------------------------- Contact+Booking Forms ------------------------- */
.contact-section {
  text-align: center;
  padding: 50px 20px;
}

.contact-section p {
  width: 50%;
  margin: 20px auto;
  font-size: smaller
}

#contact-form,
#booking-form {
  border: 2px solid #f20b0b;
  padding: 40px 20px 20px;

  > label {
    margin-bottom: -10px;
  }
}

#booking-form label {
  font-weight: bold;
}

/* ----------------------------- New Family/manageFamily Form ---------------------------- */
#add-edit-form {
  align-items: start;
  gap: 0;
  border: 2px solid #f20b0b;
  margin-bottom: 50px;
}

#add-edit-form label {
  margin: 10px 10px 0 0;
}

#add-edit-form input,
#add-edit-form textarea {
  margin-top: 5px;
}

#add-edit-form h2 {
  font-size: 1.2rem;
  margin: 20px 0 0 0;
  font-weight: normal;
  color: #f9eb4c;
  text-shadow: none;
  -webkit-text-stroke: 0px;
}

.checkboxes-row {
  display: flex;
  width: 100%;
  margin-top: -10px;
  flex-wrap: wrap;
  justify-content: flex-start;

  label {
    font-size: 1.1rem;
  }
}

.manageButtons {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px
}

/* -------------------------------- Messages -------------------------------- */
#success-message {
  background-color: #10551a;
  color: #0A2C1D;
  padding: 20px;
  margin-top: 20px;
  border-radius: 4px;
  font-size: 1rem;
}

.success {
  color: #0A2C1D;
}

.error {
  color: red;
}

.error,
.success {
  margin: 10px auto;
  padding: 10px;
  background-color: #fff;
  width: fit-content;
}

/* --------------------------------- Hilsen --------------------------------- */
#hilsen {
  width: 60%;
  max-width: 500px;
  margin: 100px auto 20px;
  font-size: larger;
  text-align: center;
  color: #c50018;

  > p {
    font-family: "Merry Notes", sans-serif;
  }

  > h2 {
    font-family: 'Christmas Glitter';
    text-shadow: none;

    > span {
      text-wrap: nowrap;
    }
  }
}

/* ---------------------------------- Media --------------------------------- */
@media only screen and (min-width:961px) {
  body {
    font-size: 1.5rem;
  }

  #introduction h1 {
    font-size: calc(4rem + ((1vw - 0.48rem) * 0.6944));
  }

  #filters p > label {
    font-size: 1.5rem;
  }

  search,
  #output {
    padding: 0 1.5rem;
  }

  .header-admin {
    height: 50vh;
  }

  .header-index {

    > p {
      width: 60%;
      font-size: 1.5rem;
    }
  }
}

@media only screen and (max-width:621px) {
  .navbar ul li a {
    font-size: large;
  }
}

@media only screen and (max-width:960px) {
  header {
    margin-top: 30px;
  }
}

@media only screen and (min-width:1440px) {

  search,
  #output {
    padding: 0 3rem;
  }
}